html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

<meta name="viewport" content="width=device-width, initial-scale=1.0">

*{

font-family: 'Montserrat', sans-serif;

}



@media screen and (min-width:700px) and (max-width: 1600px){


.sectionone{
	width: 60%;
	float: right;
	background-color: rgba(201, 76, 76, 0.3);
}

.sectiontwo{
	width: 40%;
	float: right;
	background-color: rgba(0, 0, 255, 0.3);
}


.head{
	font-size: 30px;
	font-weight: bold;
}


.para{
	font-size: 18px;
	color: black;
}

}






@media screen and (min-width:400px) and (max-width: 700px){

.sectionone{
	width: 100%;
	float: none;
	background-color: rgba(20, 6,6, 0.3);
}

.sectiontwo{
	width: 100%;
	float: none;
	background-color: rgba(0, 32,55, 0.3);
}

.head{
	font-size: 20px;
	font-weight: bold;
}


.para{
	font-size: 15px;
	color: black;
}

}
@media screen and (min-width:100px) and (max-width: 400px){

.sectionone{
	width: 100%;
	float: none;

}

.sectiontwo{
	width: 100%;
	float: none;
}

.head{
	font-size: 30px;
	font-weight: bold;
}


.para{
	font-size: 18px;
	color: black;
}

}




































.principle{
width: 60%;
float: right; 
}

.secondary{
width: 40%;
float: right; 
}


@media screen and (max-width: 1000px){
	
			h3{
				font-size: 20px;
			}
	}


@media screen and (max-width: 800px){
	.principle,.secondary{
			width: 100%;
			float: none;
	}
}




@media screen and (min-width: 1100px) and (max-width: 1200px){
	.principle{
			width: 100%;
			float: none;
	}
    .secondary{
			width: 100%;
			float: none;
	}
}








